<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /synchronize/
    RewriteBase /synchronize/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ver/([^/]+)$ ver.php?id=$1 [L,QSA]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>